{
  "barras": [
    {
      "numero_de_nodo": 1,
      "color": "#FF0000",  
      "brillo": 255,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 1
    },
    {
      "numero_de_nodo": 2,
      "color": "#00FF00",  
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 2
    },
  ]
}
