{
  "barras": [
    {
      "numero_de_nodo": 1,
      "color": "#FF0000",  // Rojo
      "brillo": 255,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 1
    },
    {
      "numero_de_nodo": 2,
      "color": "#00FF00",  // Verde
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 2
    },
    {
      "numero_de_nodo": 3,
      "color": "#0000FF",  // Azul
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 3
    },
    {
      "numero_de_nodo": 4,
      "color": "#FFFF00",  // Amarillo
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 4
    },
    {
      "numero_de_nodo": 5,
      "color": "#FF00FF",  // Rosa
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 5
    },
    {
      "numero_de_nodo": 6,
      "color": "#00FFFF",  // Cian
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 6
    },
    {
      "numero_de_nodo": 7,
      "color": "#FFFFFF",  // Blanco
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 7
    },
    {
      "numero_de_nodo": 8,
      "color": "#FFA500",  // Naranja
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 8
    },
    {
      "numero_de_nodo": 9,
      "color": "#800080",  // Púrpura
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 9
    },
    {
      "numero_de_nodo": 10,
      "color": "#000000",  // Apagado
      "brillo": 210,
      "num_leds": 60,
      "primer_led": 0,
      "universo": 10
    }
  ]
}
