{
	"barras": [{
			"numero_de_nodo": 1,
			"color": "#FF0000",
			"brillo": 10,
			"num_leds": 100,
			"primer_led": 0,
			"universo": 1
		},
		{
			"numero_de_nodo": 2,
			"color": "#00FF00",
			"brillo": 200,
			"num_leds": 60,
			"primer_led": 60,
			"universo": 1
		},
		{
			"numero_de_nodo": 3,
			"color": "#0000FF",
			"brillo": 150,
			"num_leds": 60,
			"primer_led": 0,
			"universo": 2
		},
		{
			"numero_de_nodo": 4,
			"color": "#FFFF00",
			"brillo": 255,
			"num_leds": 60,
			"primer_led": 60,
			"universo": 2
		}
	]
}
